# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
.Python
staticfiles/

# Cover nested folders
*/__pycache__/
*/*.pyc
*/*.pyo
*/*.pyd

# Virtualenv
venv/
myenv/
ENV/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/
*.log

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env
